.bg-kush{
   background: url(../img/uzumaki.jpg);
   height: 350px;
   background-size: cover;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.n-akat{
   background: url(../img/Akatsuki.jpg);
   height: 350px;
   background-size: cover;
}















